In [1]:
from DataSource import DataSource

/Users/bwang/Desktop/py/HouseRent/html2text.py:95: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if c is not ' ' and c is not '  ':
/Users/bwang/Desktop/py/HouseRent/html2text.py:95: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  if c is not ' ' and c is not '  ':
/Users/bwang/Desktop/py/HouseRent/html2text.py:96: SyntaxWarning: "is" with a literal. Did you mean "=="?
  return c is ' '

In [2]:
source = DataSource()
source.to_csv("data", "rent.csv")

3146431275
3178437180
3177395014
3034399047
3175922864
3175709605
3175572536
3170994768
3170722296
3160703763
3158649260
3157900368
3155379534
3145084774
3145035964
3128329747
3109791469
3108922032
3167716234
3100452062
3053228035
3072431416
            Id Bedrooms Bathrooms  \
0   3146431275        1         1
1   3178437180        2         1
2   3177395014        1         1
3   3034399047        3         2
4   3175922864        3         2
5   3175709605        1         1
6   3175572536        3         2
7   3170994768        3         3
8   3170722296        1         1
9   3160703763        3         2
10  3158649260        3         3
11  3157900368        3         2
12  3155379534        3         2
13  3145084774        4         4
14  3145035964        1         1
15  3128329747        1         1
16  3109791469        3         2
17  3108922032        3         2
18  3167716234        1         1
19  3100452062        1         1
20  3053228035        2         1
21  3072431416        2         1

                                             Address   Rent   ListedDate
0      10/27 Cheshire Street, Parnell, Auckland City    525  Tue, 22 Jun
1          1-12 Earle street, Parnell, Auckland City    595        Today
2             206/10 Ronayne, Parnell, Auckland City    575    Yesterday
3         20 Sudbury Terrace, Parnell, Auckland City    695  Tue, 30 Mar
4          303/10 Fox Street, Parnell, Auckland City    900  Tue, 13 Jul
5         57 Mahuhu Crescent, Parnell, Auckland City    495  Tue, 13 Jul
6       607/8 Heather Street, Parnell, Auckland City    750  Tue, 13 Jul
7        19A Cathedral Place, Parnell, Auckland City  1,150   Fri, 9 Jul
8       9/18 St Stephens Ave, Parnell, Auckland City    520   Fri, 9 Jul
9      42a Glanville Terrace, Parnell, Auckland City  2,450   Fri, 2 Jul
10    4D/10 Augustus Terrace, Parnell, Auckland City  1,300  Wed, 30 Jun
11          7 Churton Street, Parnell, Auckland City  1,500  Wed, 30 Jun
12         Y&/30 York Street, Parnell, Auckland City  1,250  Mon, 28 Jun
13        23E Windsor Street, Parnell, Auckland City  1,600  Mon, 24 May
14      9/27 Cheshire Street, Parnell, Auckland City    530  Mon, 21 Jun
15     23a Birdwood Crescent, Parnell, Auckland City    550   Wed, 9 Jun
16       26C Cheshire Street, Parnell, Auckland City  1,550  Wed, 26 May
17         103/10 Fox Street, Parnell, Auckland City    950  Tue, 25 May
18                            Parnell, Auckland City    580  Sun, 23 May
19       12/7 Claybrook Road, Parnell, Auckland City    330  Wed, 19 May
20        5/28 Ruskin Street, Parnell, Auckland City    550  Wed, 14 Apr
21  1/10 St Georges Bay Road, Parnell, Auckland City    650  Wed, 28 Apr

In [3]:
import pandas as pd
df = pd.read_csv('data/rent.csv')

In [4]:
df.head()

,Id,Bedrooms,Bathrooms,Address,Rent,ListedDate
0,3146431275,1,1,"10/27 Cheshire Street, Parnell, Auckland City",525,"Tue, 22 Jun"
1,3178437180,2,1,"1-12 Earle street, Parnell, Auckland City",595,Today
2,3177395014,1,1,"206/10 Ronayne, Parnell, Auckland City",575,Yesterday
3,3034399047,3,2,"20 Sudbury Terrace, Parnell, Auckland City",695,"Tue, 30 Mar"
4,3175922864,3,2,"303/10 Fox Street, Parnell, Auckland City",900,"Tue, 13 Jul"